<<<<<<< HEAD
.logoImg {
    margin-left: 43%;
    margin-top: 10%;
}

.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    height: 45vh;
    margin-left: 10%;
}

.login_input_container {
    border: 1px solid black;
    padding: 5%;
    border-radius: 10px;
}

.Input_id {
    width: 90%;
}

.Input_pw {
    width: 90%;
}

.waitLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5% 0;
    cursor: pointer;
}

.loginBtn {
    background-color: rgb(145, 145, 199);
    width: 25vw;
    height: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    cursor: pointer;
}

.info_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
}

.SignUp {
    cursor: pointer;
}
=======
.logoImg {
    margin-left: 43%;
    margin-top: 10%;
}

.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    height: 45vh;
    margin-left: 10%;
}

.login_input_container {
    border: 1px solid black;
    padding: 5%;
    border-radius: 10px;
}

.Input_id {
    width: 90%;
}

.Input_pw {
    width: 90%;
}

.waitLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5% 0;
    cursor: pointer;
}

.loginBtn {
    background-color: rgb(145, 145, 199);
    width: 25vw;
    height: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    cursor: pointer;
}

.info_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
}

.SignUp {
    cursor: pointer;
}
>>>>>>> be85a149f785e778c86f75fad9d90a3dc64d4187
